<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>商品情報編集</h1>
      <!-- 商品情報編集 -->
      <div class="row">
        <%= form_for @product, url: managers_product_path, method: :patch do |f| %>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">アーティスト名</div>
                <div class="col-lg-6"><%= f.collection_select :artist_id, Artist.all, :id, :name, :prompt => "選択して下さい" %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">商品名</div>
                <div class="col-lg-6"><%= f.text_field :name %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">ジャケット画像</div>
                <div class="col-lg-6"><%= f.attachment_field :image %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">価格（税込価格）</div>
                <div class="col-lg-6"><%= f.text_field :price,  autofocus: true %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">発売日</div>
                <div class="col-lg-6"><%= f.text_field :release_date, autofocus: true, class: 'datepicker' %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">レーベル</div>
                <div class="col-lg-6"><%= f.collection_select :company_id, Company.all, :id, :name, :prompt => "選択して下さい" %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">ジャンル</div>
                <div class="col-lg-6"><%= f.collection_select :categorie_id, Categorie.all, :id, :name, :prompt => "選択して下さい" %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">販売ステータス</div>
                <div class="col-lg-6"><%= f.select :status, Product.statuses.keys.to_a, {} %></div>
            </div>
            <div class="row">
                <div class="col-lg-6">在庫数</div>
                <div class="col-lg-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-6">商品説明</div>
                <div class="col-lg-6"><%= f.text_area :description, autofocus: true %></div>
            </div>
            <div class="row">
            <div class="col-lg-12"><%= f.submit '商品内容を変更する' %></div>
            </div>
        </div>
        <% end %>
      </div>

      <!-- 入荷情報登録 -->
      <div class="row">
        <div class="col-lg-12">
            <br><br>
            <h3>入荷情報を変更するならこちらでどうぞ</h3>
            <div class="row">
                <div class="col-lg-6">商品名</div>
                <div class="col-lg-6"></div>
            </div>

            <div class="row">
                <div class="col-lg-6">入荷数</div>
                <div class="col-lg-6"></div>
            </div>

            <div class="row">
            <div class="col-lg-12"><p>入荷情報を変更する</p></div>
            </div>

        </div>
      </div>
  </div>

</div>