<div class="index_inner">
    <div class="container">
        <h3 class="title">商品一覧</h3>
        <dl class="search-box">
          <%= search_form_for @q, url: search_path do |f| %>
            <dt><%= f.text_field :name_cont ,placeholder: '検索するテキストを入力...' %></dt>
            <dd><%= f.submit "検索" , class: 'search-btn1'%></dd>
          <% end %>
        </dl>
        <div class="row">
            <% @products.each do |product| %>
              <div class="col-md-3">
                <div class="card1">
                  <img class="card-img-top1" src="https://www.pakutaso.com/shared/img/thumb/chikyuGFVS3960_TP_V.jpg" alt="イメージ画像">
                  <div class="card-body1">
                    <h4 class="card-title1"><%= product.name %></h4>
                    <ul class="cp_tag01">
                      <li><a href="#">clsssic</a></li>
                    </ul>
                    <p class="card-text1 ellipsis"><%= product.description %></p>
                    <i class="card-text2"><%= "¥ #{product.price.to_s(:delimited)} 税別" %></i>
                    <%= link_to managers_product_path(product.id) do %>
                        <button class="b_size btn-design">詳細を見る</button>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <%= paginate @products, class: "paginate" %>
        </div>
      </div>
</div>
