<div class="product-wrapper">

      <div class="container">
        <div class="row">
        <div class= "col-md-5" >
          <h2>商品登録</h2>

          <%= form_for @product, url: managers_products_path do |f| %>

            <div class="field">
              <%= f.label :アーティスト名, class: 'label-position' %><br />
              <%= f.collection_select :artist_id, Artist.all, :id, :name, :prompt => "選択して下さい" %>
            </div>

            <div class="field">
              <%= f.label :レーベル名, class: 'label-position' %><br />
              <%= f.collection_select :company_id, Company.all, :id, :name, :prompt => "選択して下さい" %>
            </div>

            <div class="field">
              <%= f.label :ジャンル, class: 'label-position' %><br />
              <%= f.collection_select :categorie_id, Categorie.all, :id, :name, :prompt => "選択して下さい" %>
            </div>


            <div class="field">
              <%= f.label :'ジャケット画像(jpeg形式)', class: 'label-position' %>
              <%= f.attachment_field :image %>
            </div>

            <div class="field">
              <%= f.label :'価格（税別価格)', class: 'label-position' %>
              <%= f.text_field :price,  autofocus: true, class: 'form-control', placeholder: '半角数字で価格を入力...' %>
            </div>

            <div id="carendar-position" class="field">
              <%= f.label :発売日, class: 'label-position' %>
              <%= f.text_field :release_date, autofocus: true, class: 'datepicker form-control', placeholder: 'カレンダーから日付を選択'  %>
            </div>



              <h4>内容登録</h4>
              <hr class="my-4">
              <div class="text-left">
                <div class="links">
                  <%= link_to_add_association "ディスクを追加", f, :discs,
                  class: 'btn btn btn-warning',
                          data: {
                            association_insertion_node: '#disc-insertion-point',
                            association_insertion_method: 'append' }
                  %>
                </div>
              </div>

              <div id='disc-insertion-point'>
                    <div class="form-group">
                      <%= f.label :商品名, class: 'label-position' %><br />
                      <%= f.text_field :name, class: 'form-control f-position'  %>
                      <%= f.fields_for :discs do |t| %>
                        <%= render "disc_fields", f: t %>
                      <% end %>
                    </div>
              </div>
          <hr class="my-4">

            <div class="field">
              <%= f.label :販売ステータス %>
              <%= f.select :status, Product.statuses.keys.to_a, {} %>
            </div>

            <div class="field">
              <%= f.label :商品説明, class: 'label-position'  %><br />
              <%= f.text_area :description, autofocus: true, :size=>"60x10", class: 'form-control area-position' %>
            </div>

            <div class="actions">
              <%= f.submit "新規登録", class: 'btn btn-warning btn-space' %>
            </div>
          <% end %>
        </div>
        </div>
      </div>
</div>
