
<!--- 商品情報 -->
<div class="container padding">
    <hr class="my-4">
    <div class="row padding">
      <div class="col-lg-5 col-lg-offset-1">
        <img src="https://www.pakutaso.com/shared/img/thumb/00_PP59_PP_TP_V.jpg" class="img-size">
      </div>
      <div class="col-lg-6">
        <h2><%= @product.name %></h2>
        <p>アーティスト名: シューベルト</p>
        <ul class="cp_tag01">
          <li><a href="#">clsssic</a></li>
        <p class="price"><%= "¥ #{@product.price.to_s(:delimited)} 税込" %></p>
        </ul>
        <p class="amount">数量</p>
          <% stock = @product.arrivals.sum(:quantity) - @details.sum(:quantity) %>
          <%= stock %>
        <form action="#" method="post" class="form-position">
          <input type="text" name="name"></p>
        </form>
        <div><%= link_to '商品の編集', edit_managers_product_path(@product.id) %></div>
        <div><%= link_to '商品の削除', managers_product_path(@product.id), method: :delete %></div>
      </div>
    </div>
    <hr class="my-4">
</div>

<div class="container">
    <hr class="my-4">
    <div class="product-release">
      <h4>商品の情報</h4>
      <p>発売日  2019/11/30</p>
      <p>レーベル名  Avex</p>
    </div>
    <hr class="my-4">
    <div class="product-description">
      <h4>商品説明</h4>
      <p><%= @product.description %></p>
    </div>
    <hr class="my-3">
</div>

<div class="container">
  <h4>構成数:2枚組</h4>
  <br>
  <p>曲名</p>
  <div class="disk-info">
    <div class="disk1">
      <p>Disk1</p>
      <p>ヴォルフガング・アマデウス・モーツァルト</p>
      <p>1.セレナーデ</p>
      <p>2.アマデウス</p>
    </div>
    <div class="disk2">
      <p>Disk2</p>
      <p>ブラームス</p>
      <p>1.交響曲1~4</p>
      <p>2.アルトラプソディ</p>
    </div>
  </div>
  <hr class="my-4">
</div>

<div class="container">
  <div class="review">
    <% @reviews.each do |review| %>
      <%= form_for [@product,review], url:managers_review_path(review.id),method: :patch do |f| %>
        <table class = "table table-striped">
          <tr>
            <th>評価</th>
            <th>商品名</th>
            <th>作成日時</th>
            <th>タイトル</th>
            <th>本文</th>
          </tr>

          <tr>
            <td>
              <%= 
              #f.hidden_field :rating, id: :review_star 
              %>
            <div id="star-rate-<%= f.object.id %>"></div>
            <%# binding.pry %>
            <script>
            $('#star-rate-<%= f.object.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= f.object.rating %>,
              scoreName: 'review[rating][<%= f.object.id %>]',

            });
            </script>
            </td>
            <td><%= @product.name %></td>
            <td><%= f.text_field :created_at %></td>
            <td><%= f.text_field :title %></td>
            <td><%= f.text_area :body %></td>
            <td><%= f.submit '更新' %></td>
            <td><%= link_to "削除", managers_review_path(review.id),class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
  <hr class="my-4">
</div>
