      <!-- customer がログインしていた場合 -->
      <% if customer_signed_in? %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <p class="navbar-brand">しゃららん</p>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><%= link_to '商品一覧', root_path %></li>
                <li><%= link_to 'マイページ', customer_path(current_customer.id) %></li>
                <li><%= link_to 'ログアウト',destroy_customer_session_path, method: :delete  %></li>
                <li><%= link_to 'カート', customer_cart_items_path(current_customer)  %></li>
                <li><%= render 'share/seach_form' %></li>
                <li>ただいまログイン中</li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- customer がログインしていなかった場合 -->
      <% else %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <p class="navbar-brand">しゃららん</p>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><%= link_to '商品一覧',root_path%> <span class="sr-only">(current)</span></a></li>
                <li><%= link_to 'ログイン',new_customer_session_path%></li>
                <li><%= link_to '新規登録',new_customer_registration_path%></li>
                <li><%= render 'share/seach_form' %></li>
              </ul>
            </div>
          </div>
        </nav>
      <% end %>
