<div id="product-<%= product.id %>">
<span class="favorite">
    <% if product.good?(current_customer) %>
    	<%= link_to product_favorites_path(product_id: product.id), {method: :delete, remote: true} do %>
        	<%= button_tag(class: "btn btn-default btn-xs") do %>
          		<%= content_tag :span, "#", class: "glyphicon glyphicon-heart" %>
          	<% end %>
    	<% end %>
    <% else %>
		<%= link_to  product_favorites_path(product_id: product.id), {method: :post, remote: true} do %>
        	<%= button_tag(class: "btn btn-default btn-xs") do %>
          		<%= content_tag :span, "#", class: "glyphicon glyphicon-heart-empty" %>
			<% end %>
		<% end %>
	<% end %>
</span>
</div>