<div class = "top-space">
	<div class="container">
		<div class="row">
			<table class="col-l-6 table table-bordered">
			<h3>入荷履歴</h3>
			<p>◯◯◯◯年◯月◯日</p>
			<thead>
			<tr>
		    	<th>入荷日</th>
		        <th>商品名</th>
		        <th>価格（税別）</th>
		         <th>個数</th>
		     	<th>小計</th>
		    </tr>
		</thead>
		<% @arrivals.each do |arrival|%>
			<tbody>
				<tr>
			        <th><%= arrival.created_at.strftime('%Y/%m/%d') %></th>
			        <td><%= arrival.product.name %></td>
			        <td><%= arrival.product.price %></td>
			        <td><%= arrival.quantity %></td>
			        <td><%= number_with_delimiter(arrival.product.price * arrival.quantity) %></td>
			    </tr>
			</tbody>
		    <% end %>
		    <%= paginate @arrivals, class: "paginate" %>
			</table>
		</div>
	</div>
</div>

