<div class="container">
    <p>アーティスト・ジャンル・レーベル登録</p>
</div>

<hr class="my-4">

<div class="container">

    <%= form_for @artist, url: managers_accs_path do |f| %>

    <div class="field">
        <%= f.label :"アーティスト名" %><br />
        <%= f.text_field :name,  autofocus: true %>
    </div>

    <div class="actions"><br />
            <%= f.submit "登録する", class: 'btn btn-primary' %>
    </div>

    <% end %>

    <%= form_for @categorie, url: managers_accs_path do |f| %>

    <div class="field">
        <%= f.label :"ジャンル名" %><br />
        <%= f.text_field :name,  autofocus: true %>
    </div>

    <div class="actions"><br />
            <%= f.submit "登録する", class: 'btn btn-primary' %>
    </div>

    <% end %>

    <%= form_for @company, url: managers_accs_path do |f| %>

    <div class="field">
        <%= f.label :"レーベル名" %><br />
        <%= f.text_field :name,  autofocus: true %>
    </div>

    <div class="actions"><br />
            <%= f.submit "登録する", class: 'btn btn-primary' %>
    </div>

    <% end %>
</div>
