<div class = "top-space">
  <h1>マイページ</h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><%= link_to 'いいね一覧', customer_favorites_path(@customer.id) %></li>
          <li><%= link_to '住所一覧', other_addresses_path(@customer.id) %></li>
          <li><%= link_to 'お問い合わせ', customer_contact_path(@customer.id) %></li>
          <li><%= link_to '購入一覧', customer_orders_path(@customer.id) %></li>
          <li><%= link_to '退会手続き', exit_customer_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"></ul>
      </div>
    </div>
  </nav>
<div class="container">
	<div class="mypage-info">
	<%= form_for(@customer) do |f| %>
	 	<div class="row">
      <div class=" mypage_text">
	 		  <div class="co-lg-6">
		      <h3>お名前</h3>
          <div class = "mypage_column1">
		        <%= f.text_field :last_name %>
            <div class = "mypage_column2">
		          <%= f.text_field :first_name %>
            </div>
          </div>
	 		  </div>
      </div>
    </div>
    <div class="row">
      <div class=" mypage_text">
	 	   <div class="co-lg-6">
		    <h3>お名前（フリガナ）</h3>
          <div class = "mypage_column1">
		        <%= f.text_field :last_name_kana %>
            <div class = "mypage_column2">
		          <%= f.text_field :first_name_kana %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" mypage_text">
        <div class="co-lg-6">
		      <h3>住所</h3>
          <div class = "mypage_column3">
            〒 <%= f.text_field :postal_code1, size:"10x10" %> - <%= f.text_field :postal_code2, size:"10x10" %>
          </div>
          <div class = "mypage_column4">
		        <!-- 都道府県はプルダウン式にするのでcollectionを使います。 -->
		        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
          </div>
          <div class = "mypage_column6">
		        <%= f.text_field :city, size:"35x10" %>
          </div>
          <div class = "mypage_column5">
		        <%= f.text_area :building, size: "30x3" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" mypage_text">
        <div class="co-lg-6">
        	<h3>電話番号</h3>
          <div class = "mypage_column1">
		        <%= f.text_field :phone_number1, size:"10x10" %> - 
		        <%= f.text_field :phone_number2, size:"10x10" %> - 
		        <%= f.text_field :phone_number3, size:"10x10" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" mypage_text">
        <div class="co-lg-6">
        		<h3>メールアドレス</h3>
            <div class = "mypage_column1">
		          <%= f.email_field :email, size:"40x10" %>
            </div>
          </div>
        </div>
      </div>
      <div class = "mypage_submit">
			 <%= f.submit '変更する' %>
      </div>
      </div>
		</div>
	</div>
<% end %>

<div class="container">
  <h2>レビュー一覧</h2>
  <div class="review">
    <% @reviews.each do |r| %>
  <table class = "table table-striped">
    <tr>
      <th>評価</th>
      <th>商品名</th>
      <th>作成日時</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>

    <tr>
        <td><%= r.rating %>
          <div id="star-rate-<%= r.id %>"></div>
          <script>
          $('#star-rate-<%= r.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= r.rating %>,
          });
          </script>
        </td>
        <td><%= r.product.name %></td>
        <td><%= r.created_at %></td>
        <td><%= r.title %></td>
        <td><%= r.body %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <hr class="my-4">
<div class = "text-center">
  <%= paginate @reviews, class: "paginatate" %>
</div>
