<h1>マイページ</h1>

<nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><a><%= link_to '退会手続き', exit_customer_path %></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div>
          </div>
        </nav>
        <span></span>


<%= form_for(@customer) do |f| %>

	<h3>お名前</h3>
	<%= f.text_field :last_name %>
	<%= f.text_field :first_name %>

	<h3>お名前（フリガナ）</h3>
	<%= f.text_field :last_name_kana %>
	<%= f.text_field :first_name_kana %>

	<h3>住所</h3>
	<%= f.text_field :postal_code1 %>
	<%= f.text_field :postal_code2 %>

	<!-- 都道府県はプルダウン式にするのでcollectionを使います。 -->
	<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
	<%= f.text_field :city %>

	<h3>電話番号</h3>
	<%= f.text_field :phone_number1 %>
	<%= f.text_field :phone_number2 %>
	<%= f.text_field :phone_number3 %>

	<h3>メールアドレス</h3>
	<%= f.email_field :email %>

	<%= f.submit '変更する' %>

<% end %>

<h2>レビュー一覧</h2>
<% @reviews.each do |j| %>
	<%= j.rating %>
	<%= j.title %>
	<%= j.created_at %>
	<!-- 	商品名から商品詳細に飛べるようにします。 -->
	<%= j.product.name %>
	<%= j.body %>
<% end %>
<%= paginate @reviews, class: "paginatate" %>

