<h1>マイページ</h1>

<nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><a><%= link_to '退会手続き', exit_customer_path %></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div>
          </div>
        </nav>
        <span></span>


<div class="container">
	<div class="mypage-info">
		<%= form_for(@customer) do |f| %>
	 	<div class="row">
	 		<div class="co-lg-6">
		<h3>お名前</h3>
		<%= f.text_field :last_name %>
		<%= f.text_field :first_name %>
	 		</div>
	 	<div class="co-lg-6">
		<h3>お名前（フリガナ）</h3>
		<%= f.text_field :last_name_kana %>
		<%= f.text_field :first_name_kana %>

		<h3>住所</h3>
		 <div class="co-lg-6"><P>郵便番号</P>
			<%= f.text_field :postal_code1 %>
			<%= f.text_field :postal_code2 %>
		 </div>

		<!-- 都道府県はプルダウン式にするのでcollectionを使います。 -->
		<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
		<%= f.text_field :city %>
		<%= f.text_field :building %>

		<h3>電話番号</h3>
		<%= f.text_field :phone_number1 %>
		<%= f.text_field :phone_number2 %>
		<%= f.text_field :phone_number3 %>

		<h3>メールアドレス</h3>
		<%= f.email_field :email %>
		<div class="co-lg-6">
			<%= f.submit '変更する' %>
		</div>
	</div>
<% end %>

<% @reviews.each do |j| %>
	<table class = "table table-striped">
		<tr>
			<th>評価</th>
			<th>商品名</th>
			<th>タイトル</th>
			<th>本文</th>
		</tr>

		<tr>
			<td><%= j.rating %></td>
			<td><%= @review.product.name %></td>
			<td><%= j.title %></td>
			<td><%= j.body %></td>
		</tr>
	</table>
<% end %>
<%= paginate @reviews, class: "paginatate" %>
