<div class = "top-space">
  <h1>マイページ</h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><%= link_to 'いいね一覧', customer_favorites_path(@customer.id) %></li>
          <li><%= link_to '住所一覧', other_addresses_path(@customer.id) %></li>
          <li><%= link_to 'お問い合わせ', customer_contact_path(@customer.id) %></li>
          <li><%= link_to '購入一覧', customer_orders_path(@customer.id) %></li>
          <li><%= link_to '退会手続き', exit_customer_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"></ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="mypage-info">
		  <%= form_for(@customer) do |f| %>
 	    <div class="row">
	 		  <div class="co-lg-6">
          <%= render 'share/error_messages', object: f.object %>
		      <h3>お名前</h3>
		      <%= f.text_field :last_name %>
		      <%= f.text_field :first_name %>
	 	     </div>
	 	     <div class="co-lg-6">
		      <h3>お名前（フリガナ）</h3>
		      <%= f.text_field :last_name_kana %>
		      <%= f.text_field :first_name_kana %>

		      <h3>住所</h3>
		       <div class="co-lg-6">
            <P>郵便番号</P>
		      	<%= f.text_field :postal_code1 %>
		      	<%= f.text_field :postal_code2 %>
		       </div>
         </div>
        <div class="co-lg-6">
		    <!-- 都道府県はプルダウン式にするのでcollectionを使います。 -->
		    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
		    <%= f.text_field :city %>
		    <%= f.text_field :building %>

		    <h3>電話番号</h3>
		    <%= f.text_field :phone_number1 %>
		    <%= f.text_field :phone_number2 %>
		    <%= f.text_field :phone_number3 %>

		    <h3>メールアドレス</h3>
		    <%= f.email_field :email %>
		    <div class="co-lg-6">
			   <%= f.submit '変更する' %>
		    </div>
	     </div>
      <% end %>

    <h2>レビュー一覧</h2>
    <div class="container">
      <div class="review">
        <% @reviews.each do |r| %>
        <table class = "table table-striped">
        <tr>
          <th>評価</th>
          <th>商品名</th>
          <th>作成日時</th>
          <th>タイトル</th>
          <th>本文</th>
        </tr>

        <tr>
            <td><%= r.rating %>
              <div id="star-rate-<%= r.id %>"></div>
              <script>
              $('#star-rate-<%= r.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= r.rating %>,
              });
              </script>
            </td>
            <td><%= r.product.name %></td>
            <td><%= r.created_at %></td>
            <td><%= r.title %></td>
            <td><%= r.body %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>>
  <%= paginate @reviews, class: "paginatate" %>
</div>
