<script src="other_addresses.js" charset="utf-8"></script>

<div class="container">
	<div class="row">
		<!-- 住所追加 -->
		 <div class="other-address-title-top">新しい住所の追加</div>
		 <div class="other_address well col-md-6">
		 	<div class="other_address_box">
			 	<%= form_for(@other_address) do |f| %>
			 		<div class="other_address_box-list">
			 			<h5>お名前</h5>
			 			<%= f.text_field :last_name %>
		        		<%= f.text_field :first_name %>
			 		</div>
			 		<div class="other_address_box-list">
			 			<h5>フリガナ</h5>
			 			<%= f.text_field :last_name_kana %>
		        		<%= f.text_field :first_name_kana %>
			 		</div>
			 	<div class="other_address_box-list">
			 		<div class="other_address_box-list other_address_number">
			 			<h5>郵便番号</h5>
			 			<span> 〒 </span>
			 			<%= f.text_field :postal_code1,  id: "zip1"  %><span> - </span>
			 			<%= f.text_field :postal_code2,  id: "zip2"  %>
			 		</div>
			 	</div>
			 	<div class="other_address_box-list">
			 		<h5>都道府県</h5>
				 	<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {}, id:"adrs3" %>
			 	</div>
			 	<div class="other_address_box-list">
			 		<h5>市町村</h5>
			 		<%= f.text_area :city, autofocus: true, autocomplete: "city", id: "adrs4" %>
			 	</div>
			 	<div class="other_address_box-list">
			 		<h5>番地</h5>
			 		<%= f.text_area :building, autofocus: true, autocomplete: "building", id: "adrs5" %>
			 	</div>
			 	<div class="other_address_box-list other_address_number">
			 			<h5>電話番号</h5>
			 			<%= f.text_field :phone_number1 %><span> - </span>
		        		<%= f.text_field :phone_number2 %><span> - </span>
		        		<%= f.text_field :phone_number3 %>
			 	</div>
			</div>
			 	<div class="other_address_box-submit">
			 		    <%= f.submit '追加' %>
			 	</div>
			 	<% end %>
		 </div>

		<!-- 追加されていく住所 -->
		<div class="col-md-6 add-address-box">
		 	<div class="other-address-title">追加された住所</div>
			<% @other_addresses.each do |other_address|%>
			<div class="other_address_add well">
				<div class="other_address_box">
				 	<div class="other_address_box-list">
				 		<div class="other_address_box-postal">
				 			<!-- <h5>郵便番号</h5> -->
				 			<span> 〒 </span>
				 			<%= other_address.postal_code1 %><span> - </span>
				 			<%= other_address.postal_code2 %>
				 		</div>
				 	</div>
				 	<div class="other_address_box-city">
				 			<!-- <h5>住所</h5> -->
				 			<%= other_address.prefecture_name %>
				 	</div>
				 	<div class="other_address_box-city">
				 		<%= other_address.city %>
				 	</div>
				 	<div class="other_address_box-city">
				 		<%= other_address.building %>
				 	</div>
				 		<div class="other_address_name_kana">
				 			<!-- <h5>フリガナ</h5> -->
				 			<%= other_address.last_name_kana %><span>   </span>
			        		<%= other_address.first_name_kana %>
				 		</div>
				 		<div class="other_address_box-name">
				 			<!-- <h5>お名前</h5> -->
				 			<%= other_address.last_name %><span>   </span>
			        		<%= other_address.first_name %><span> さま </span>
				 		</div>


				 	<div class="other_address_phone_number">
				 			<span>Tell : </span>
				 			<%= other_address.phone_number1 %><span> - </span>
			        		<%= other_address.phone_number2 %><span> - </span>
			        		<%= other_address.phone_number3 %>
				 	</div>
				 	<div class="other_address_box_button">
					 	<%= link_to '編集', edit_other_address_path(other_address) %>
					 </div>
					 <div class="other_address_box_button">
						<%= link_to '削除',other_address_path(other_address),method: :delete %>
				 	</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<script>
$(window).ready( function() {
	$('#zip1').jpostal({
		postcode : [
			'#zip1',	//郵便番号1
			'#zip2' 	//郵便番号2
		],
		address : {
			'#adrs3'  : '%3',	//都道府県
			'#adrs4'  : '%4',	//市区町村
			'#adrs5'  : '%5',	//町域
			'#adrs6'  : '%6',	//大口事業所の番地
			'#adrs7'  : '%7',	//大口事業所の名称
			'#adrs8'  : '%8',	//都道府県カナ
			'#adrs9'  : '%9'	//市区町村カナ
		}
	});
});
</script>
