<%= check_box_tag :sample %>
<%= label_tag :sample, "チェックボッックス例" %>
<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="page-header">
					<h2 class="title-head">ご注文内容のご確認</h2>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-2 md-offset-2">
				<div class="cart-role">
					<ul class="ec-progress">
						<li class="ec-progress-item">
							<div class="ec-progress__number">1</div>
							<div class="ec-progress__label">カートの商品</div>
						</li>
						<li class="ec-progress-item">
							<div class="ec-progress__number">2</div>
							<div class="ec-progress__label">お届け先・支払い方法の選択</div>
						</li>
						<li class="ec-progress-item">
							<div class="ec-progress__number">3</div>
							<div class="ec-progress__label">ご注文内容のご確認</div>
						</li>
						<li class="ec-progress-item">
							<div class="ec-progress__number">4</div>
							<div class="ec-progress__label">ご注文完了</div>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3 md-offset-3">
				<div class="select-address">
					<h4>お届け先指定</h4>
					<%= check_box_tag :address %>
					<%= label_tag :address, "名前" %>
					<%= label_tag :address, "住所" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 md-offset-3">
				<div class="select-how">
					<h4>お届け先指定</h4>
					<%= check_box_tag :pay1 %>
					<%= label_tag :pay, "銀行振り込み" %><br/>

					<%= check_box_tag :pay2 %>
					<%= label_tag :pay, "クレジットカード" %><br/>

					<%= check_box_tag :pay3 %>
					<%= label_tag :pay, "代引き" %>
				</div>
			</div>
		</div>







