<!-- 購入確認画面を表示する -->
<%= form_tag(customer_orders_path, method: :post) do %>
<% total_price = 0 %>
<body>
<div class="wrap">
<div class="back-color">
<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="page-header">
					<h2 class="title-head">ご注文内容のご確認</h2>
				</div>
			</div>
		</div>

		<div class="row">
				<div class="cart-role">
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">1</i>
							</span>
							<div class="ec-progress__label">カートの商品</div>
						</li>
					</ul>
					</div>

					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">2</i>
							</span>
							<div class="ec-progress__label">お届け先・支払い方法の選択</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">3</i>
							</span>
							<div class="ec-progress__label1">ご注文内容のご確認</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">4</i>
							</span>
							<div class="ec-progress__label">ご注文完了</div>
						</li>
					</ul>
					</div>
				</div>
			</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="container order-box">
						<div class="row">
							<h3 class="box5 col-md-5">商品情報</h3>
						</div>
						<div class="row">
							<% @carts.each do |cart| %>
							<div class="col-md-1">
								<%= attachment_image_tag cart.product, :image, :fill, 40, 40, format: 'jpeg',fallback: "no_image.jpg", size:'40x40' %>
							</div>
							<div class="row box">
								<div class="col-md-2 text-left">
									<%= cart.product.name %>
								</div>
								<div class="row">
									<div class="col-md-1 text-left">
										¥<%= number_with_delimiter(cart.product.price) %> × <%= cart.quantity %>
									</div>
									<div class="col-md-1">
										¥<%= number_with_delimiter(cart.product.price * cart.quantity) %>
									</div>
										<% total_price += cart.product.price * cart.quantity %>
								</div>
							</div>
							<% end %>
						</div>
					</div>



				<div class="container order-box">
					<div class="row">
							<h3 class="box5 col-md-5">お届け先情報</h3>
					</div>
					<div class="row">
						<div class="col-md-2">
							<%= @name %>様
						</div>
					</div>

					<div class="row">
						<div class="col-md-2">
							〒<%= @order.postal_code1 %> - <%= @order.postal_code2 %>
						</div>
						<div class="col-md-2 text-left">
							<%= @order.prefecture_name %><%= @order.city %><%= @order.building %>
						</div>
					</div>
				</div>

				<div class="container order-box">
					<div class="row">
							<h3 class="box5 col-md-5">お支払い方法</h3>
					</div>
					<div class="row">
						<div class="col-md-2 complete_back">
							<%= @order.payment %>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="container">
					<div class="col-md-6">
						<div class="label8">
								<div class="card1 col-md-6">
									<div class="row item">
										<div class="col-md-4 text-center">小計</div>
										<div class="col-md-8 text-right">
	      							¥<%= number_with_delimiter(total_price.to_i) %>
		      					</div>
		      				</div>
	      					<div class="row-sp">
										<div class="col-md-3 text-center">送料</div>
										<div class="col-md-9 text-right">
											¥<%= @postage.ship %>
										</div>
									</div>
									<h4 class="total_confirm text-right">¥<%= number_with_delimiter(total_price.to_i + @postage.ship) %> (税込)</h4>

									<%= submit_tag "確認画面へ", class: 'btn btn-danger btn-md center-block' %>
								</div>
	    				</div>
	    			</div>
	    	</div>
	    </div>
  	</div>
	</div>

		<input type="hidden" id="orderId" name="orderId" value="order">
		<%= hidden_field_tag :payment, @order.payment %>

		<% end %>
	</div>
</div>
</div>
</body>

