<!-- 購入確認画面を表示する -->
<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="page-header">
					<h2 class="title-head">ご注文内容のご確認</h2>
				</div>
			</div>
		</div>

		<div class="container">
		<div class="row">
				<div class="cart-role">
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">1</i>
							</span>
							<div class="ec-progress__label">カートの商品</div>
						</li>
					</ul>
					</div>

					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">2</i>
							</span>
							<div class="ec-progress__label">お届け先・支払い方法の選択</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">3</i>
							</span>
							<div class="ec-progress__label">ご注文内容のご確認</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">4</i>
							</span>
							<div class="ec-progress__label">ご注文完了</div>
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>



		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="title-head">商品情報</h3>
				</div>
				<div class="row">
					<% @carts.each do |cart| %>
				<div class="col-md-2 text-left">
					<%= attachment_image_tag cart.product, :image, :fill, 40, 40, format: 'jpeg',fallback: "no_image.jpg", size:'40x40' %>
				</div>

				<div class="col-md-9">
						<div class="col-md-3">
							<%= cart.product.name %>
						</div><br/>
						<div class="col-md-3">
							<%= cart.product.price %> × <%= cart.quantity %>
						</div>
						<div class="col-md-3">
							<%= cart.product.price * cart.quantity%>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>



		<div class="container order-box">
			<div class="row">
				<div class="col-md-3">
					<h4 class="title-head">お届け先情報</h4>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<%= @name + "様" %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					〒<%= @order.postal_code1 %> - <%= @order.postal_code2 %>
				</div>
				<div class="col-md-4 text-left">
					<%= @order.prefecture_name + @order.city + @order.building %>
				</div>
			</div>
		</div>

		<div class="container order-box">
			<div class="row">
				<div class="col-md-3">
					<h4 class="title-head">お支払い方法</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<%= @order.payment %>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<label>小計</label>
				</div>
				<div class="col-md-5">
					<%  %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<lebel>送料</lebel>
				</div>
				<div class="col-md-5">
					<%= @postage.ship %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label>合計</label>
				</div>
				<div class="col-md-5">

				</div>
			</div>
		</div>
	</div>




</div>



