
<!-- お届け先、支払い方法の選択 -->

<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="page-header">
					<h2 class="title-head">お届け先、支払い方法の選択</h2>
				</div>
			</div>
		</div>

		<div class="container">
		<div class="row">
				<div class="cart-role">
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">1</i>
							</span>
							<div class="ec-progress__label">カートの商品</div>
						</li>
					</ul>
					</div>

					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">2</i>
							</span>
							<div class="ec-progress__label">お届け先・支払い方法の選択</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">3</i>
							</span>
							<div class="ec-progress__label">ご注文内容のご確認</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">4</i>
							</span>
							<div class="ec-progress__label">ご注文完了</div>
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
		<div class="row">
			<div class="col-md-3 md-offset-3">
				<div class="select-address">
					<h3 class="title-head">お届け先指定</h3>
						
				</div>
			</div>
		</div>
	</div>



		<div class="container">
		<div class="row">
			<div class="col-md-3 md-offset-3">
				<div class="select-address">
					<h3 class="title-head">支払方法選択</h3>

					<%= form_for(@order.payment) do |t| %>
  					<label>
  						<%= t.radio_button :payment, 1 %>銀行振込
  					</label>
  					<br/>
  					<label>
  						<%= t.radio_button :payment, 2 %>クレジットカード
  					</label>
  					<br/>
  					<label>
  						<%= t.radio_button :payment, 3 %>代引き
  					</label>

  					<% end %>

				</div>
			</div>
		</div>
	</div>

	<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
						<%= link_to "カートへ戻る", root_path, class: 'btn btn-default btn-lg' %>
				</div>
			</div>
		</div>

		<div class="container">
		<div class="row">
			<div class="col-md-4 pull-right">
					<div class="col-md-4 text-left">小計
					</div>
					<div class="col-md-4 text-right">
						¥ 3,0000
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 pull-right">
					<div class="col-md-4 text-left">
						送料
					</div>

					<div class="col-md-4 text-right">
						¥ 500
					</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 pull-right">
					<div class="col-md-3 text-left">
						<h4>合計</h4>
					</div>

					<div class="col-md-4 text-right">
						<h4>
							<%=  %>
						</h4>
					</div>
			</div>
		</div>



		</div>



</div>