
<!-- お届け先、支払い方法の選択 -->
<%= form_tag(new_customer_order_path, method: :get) do %>
<div class="back-color">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="page-header">
					<h2 class="title-head">お届け先、支払い方法の選択</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="box1234">
		<div class="container">
		<div class="row">
				<div class="cart-role">
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">1</i>
							</span>
							<div class="ec-progress__label">カートの商品</div>
						</li>
					</ul>
					</div>

					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">2</i>
							</span>
							<div class="ec-progress__label1">お届け先・支払い方法の選択</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">3</i>
							</span>
							<div class="ec-progress__label">ご注文内容のご確認</div>
						</li>
					</ul>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
						<li class="ec-progress-item text-center">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-inverse fa-stack-1x">4</i>
							</span>
							<div class="ec-progress__label">ご注文完了</div>
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="container">
						<div class="row">
							<div class="col-md-3 md-offset-3">
								<div class="select-address">
									<h3 class="title-head text-center">お届け先指定</h3>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-1 text-right label4">
							<%= radio_button_tag 'address', 0, checked: true %>
							</div>
							<div class="col-md-3">
								<div class="card card-body">
									<h5 class="card-title">名前: <%= @customer.last_name + @customer.first_name %></h5>
									<p class="card-text">住所: 〒<%= @customer.postal_code1 %> - <%= @customer.postal_code2 %></p>
									<p class="card-text"><%= @customer.prefecture_name + @customer.city + @customer.building %></p>
								</div>
							</div>
						</div>
						<% @addresses.each do |address| %>
						<div class="row">
							<div class="col-md-1 text-right label4">
								<%= radio_button_tag 'address', 0 %>
							</div>
							<div class="col-md-3">
								<div class="card card-body">
									<h5 class="card-title">名前: <%= address.last_name + address.first_name %></h5>
									<p class="card-text">住所: 〒<%= address.postal_code1 %> - <%= address.postal_code2 %></p>
									<p class="card-text"><%= address.prefecture_name + address.city + address.building %></p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="select-address">
								<h3 class="title-head">支払方法選択</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
			  				<div class="paypay">
									<%= radio_button_tag 'payment', '現金振込', checked: true %>現金振込
			  					</div>
			  					<br/>
			  					<div class="paypay">
									<%= radio_button_tag'payment',  'クレジットカード'%>
			  						クレジットカード
			  					</div>
			  					<br/>
			  					<label>
									<%= radio_button_tag 'payment', '代引'%>
			  						代引
			  					</label>
								</div>
							</div>
						</div>

						<div class="label4">
							<div class="card card-body col-md-6">
      				<p class="card-text text-left">小計 
      					<% total_price = 0 %>
								<% @carts.each do |cart| %>
								<% total_price += cart.product.price * cart.quantity %>
								<% end %>
								¥<%= number_with_delimiter(total_price) %>
							</p>
							<p class="card-text text-left">送料 
								¥ <%= @postage.ship %>
							</p>
							<h4 class="text-right">¥<%= number_with_delimiter(total_price + @postage.ship) %>(税込)</h4>

								<%= submit_tag "確認画面へ", class: 'btn btn-default btn-md ' %>
							</div>
    			</div>
    			</div>

							</div>

					</div>
				</div>
		<% end %>