<!-- 購入履歴詳細画面を表示する -->
<div  class = "top-space">
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="page-header">
						<h2 class="title-head">ご注文履歴詳細</h2>
					</div>
				</div>
			</div>
		</div>
	<% subtotal = 0 %>
	<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
						<div class="col-md-3">
							<label>お届け先住所</label>
							<br/>
							<label2>
								<%= @customer.last_name + @customer.first_name + "様" %>
							</label2>
							<br/>
							<label2>
								¥
								<%= @order.postal_code1 %> - <%= @order.postal_code2 %>
							</label2>
							<br/>
							<label2>
								<%= @order.prefecture_name %>
								<br/>
								<%= @order.city %>
								<br/>
								<%= @order.building %>
							</label2>
						</div>

						<div class="col-md-4">
							<label>注文日</label>
							<br/>
							<label2>
								<%= @order.created_at.strftime('%Y/%m/%d') %>
							</label2>
						</div>

						<div class="col-md-5 text-center">
							<label>ご請求額</label>
							<br/>
							<div class="row">
								<div class="col-md-2 text-center">
									<label2>小計</label2>
									<br/>
								</div>
								<div class="col-md-5 text-right">
									<label2>
										<% @details.each do |detail| %>
										<% subtotal += detail.subtotal %>
										<% end %>
										¥   <%= subtotal %>
									</label2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2 text-center">
									<label2>送料</label2>
									<br/>
								</div>
								<div class="col-md-5 text-right">
									<label2>
										¥ 500
									</label2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3 text-left total">
									<h4>合計</h4>
									<br/>
								</div>
								<div class="col-md-4 text-right total">
									<h4>
										¥ <%= @order.total  %>
									</h4>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>

	<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="label2">
					<label1>ご注文状況</label1>: :
						<label1>
							<%= @order.status %>
						</label1>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<label3>配送日時 : :
							<%= @order.created_at.strftime('%Y/%m/%d') %>
						</label3>
				</div>
			</div>
		</div>

		<% @details.each do |detail| %>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="order-box">
					<div class="col-md-6">
						<div class="col-md-4 text-left">
							<% if detail.product.image %>
			        <!-- 画像があった時の処理をここに書く -->
			        <%= attachment_image_tag detail.product, :image_id, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
			        <% end %>
						</div>
						<div class="col-md-5 text-center">
							<%= detail.product.name %><br/>
							¥<%= detail.product.price %> × <%= detail.quantity %>
						</div>
						<div class="col-md-3 text-right">
							¥<%= detail.subtotal %>
						</div>
					</div>
					<div class="col-md-4 text-right">
						<%= link_to "レビューを書く", product_path(detail.product_id), class: 'btn btn-default btn-md' %><br/>
					</div>
				</div>
			</div>
			</div>
		</div>
	<% end %>

	<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-5 text-right">
						<label1>送料</label1>
					</div>
					<div class="col-md-6 text-left">
						<label1>¥ 500</label1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-5 text-right">
						<h4>合計</h4>
					</div>
					<div class="col-md-5 text-left">
						<h4>¥<%= @order.total %></h4>
					</div>
				</div>
			</div>
	</div>
</div>
</div>