<div class="container">
  <h2><%= "#{ current_customer.last_name}様のカート一覧" %></h2>
  <div class="review">

  <% if @cart_items.size == 0 %>
      <p>カートに商品がありません</p>
      <div class="text-right">
      <%= link_to '商品を探す', root_path, class: 'btn btn-lg btn-primary' %>
      </div>
  <% else %>

      <table class = "table table-striped">

        <thead>
          <tr>
              <th>商品内容</th>
              <th>商品名</th>
              <th>数量</th>
              <th></th>
              <th></th>
              <th>価格(税別)</th>
              <th>小計</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
        <% total_price = 0 %>
        <% current_customer.cart_items.each do |cart| %>
            <tr>
              <td><%= attachment_image_tag cart.product, :image, :fill, 60, 60, format: 'jpeg',
                                                          fallback: "no_image.jpg", size:'60x60' %>
              </td>

              <td><%= cart.product.name %></td>

            <%= form_for cart, url: product_cart_items_path(cart.product), method: :patch  do |f| %>
              <td><%= cart.quantity %></td>
              <td><%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], :selected => 1 %></td>
              <td><%= f.button :type => "submit", style: 'border-style: none;' do %>
                  <i class="fas fa-redo"></i>
              </td>
              <% end %>
            <% end %>
            <td><%= "¥ #{cart.product.price.to_s(:delimited)}" %></td>
            <td><%= "¥ #{number_with_delimiter(cart.product.price * cart.quantity)}" %></td>
              <td>
                <%= link_to product_cart_items_path(cart.product), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                    <i class="fas fa-times"></i>
                <% end %>
              </td>
            </tr>
            <% total_price += cart.product.price * cart.quantity %>
            <% end %>
        </tbody>
      </table>
  </div>

    <div class="total_price">
        <p><%= "合計金額: #{total_price.to_s(:delimited)}円" %></p>
    </div>
    <div class="btn_group1">
      <%= link_to '配送先、支払い方法選択画面へ', select_customer_orders_path(current_customer.id), class: 'btn btn-block btn-info' %>
    </div>
    <div class="btn_group2">
      <%= link_to '買い物を続ける', root_path, class: 'btn btn-block btn-primary' %>
    </div>
  <% end %>
  <hr class="my-4">
</div>
