<h2><%= "#{ @cart_items[0].customer.last_name}のカート一覧" %></h2>

<div class="container">
  <div class="review">
    <% current_customer.cart_items.each do |cart| %>
      <table class = "table table-striped">

        <thead>
          <tr>
              <th>商品内容</th>
              <th>商品名</th>
              <th>数量</th>
              <th></th>
              <th></th>
              <th>価格(税抜)</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= "写真" %></td>
              <td><%= cart.product.name %></td>

            <%= form_for cart, url: product_cart_items_path(cart.product), method: :patch  do |f| %>
              <td><%= cart.quantity %></td>
              <td><%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], :selected => 1 %></td>
              <td><%= f.submit '購入数を変更する' %></td>
            <% end %>

            <td><%= "¥ #{cart.product.price.to_s(:delimited)}" %></td>
              <td>
                <%= link_to '商品を削除する', product_cart_items_path(cart.product), method: :delete,
                                            data: {confirm: "本当に削除しますか？"} %>
              </td>
            </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <hr class="my-4">
</div>
