<div class="container">
  <h1>商品一覧画面</h1>
      <div id="carousel-1" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item">
            <%= image_tag 'backimage1.jpg', class: "d-block w-100" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <h3 class="heading">いいね数ランキング</h3>
    <% @all_ranks.each.with_index(1) do |p, i| %>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p class="rank"><%= "#{i}位" %></p>
            <div class="card">
              <img class="card-img-top" src="https://www.pakutaso.com/shared/img/thumb/chikyuGFVS3960_TP_V.jpg" alt="イメージ画像">
              <div class="card-body">
                <h4 class="card-title"><%= p.name %></h4>
                <ul class="cp_tag01">
                  <li><a href="#">clsssic</a></li>
                </ul>
                <p class="card-text"><%= p.description %></p>
                <p class="card-text"><%= "¥ #{p.price.to_s(:delimited)} 税別" %></p>
                <%= link_to "詳細を見る", product_path(p.id), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <% end %>
          </div>
        </div>
      </div>


      <h3 class="heading">商品一覧</h3>

      <div class="container">
        <div class="row">
        <% @products.each do |product| %>
          <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top" src="https://www.pakutaso.com/shared/img/thumb/chikyuGFVS3960_TP_V.jpg" alt="イメージ画像">
              <div class="card-body">
                <h4 class="card-title"><%= product.name %></h4>
                <ul class="cp_tag01">
                  <li><a href="#">clsssic</a></li>
                </ul>
                <p class="card-text"><%= product.description %></p>
                <p class="card-text"><%= "¥ #{product.price.to_s(:delimited)} 税別" %></p>
                <%= link_to "詳細を見る", product_path(product.id), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @products, class: "paginate" %>
        </div>
      </div>
</div>
