<% if manager_signed_in? %>

  <div class="container">
    <h3>商品検索結果</h3>
    <% if @products.empty? %>
      <p><%= "#{params[:q][:name_cont]}  に一致する検索結果は見つかりませんでした" %></p>
      <p><%= "検索のヒント:" %></p>
      <ul>
        <li><%= キーワードに誤字・脱字がないか確認します。%></li>
        <li><%= 別のキーワードを試してみます。%></li>
      </ul>
    <% else %>
      <p><%= "#{@products.total_count}件の検索結果があります" %></p>
    <% end %>
    <div class="sort-area">
      <%= search_form_for @q, url: search_path do |f| %>
        <%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '発売の古い順': 'release_date asc', '発売の新しい順': 'release_date desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
            <i class="fas fa-search"></i>
        <% end %>
        <i>Sort</i>
      <% end %>
    </div>
    <hr class="my-4">
    <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <div class="row">
            <div class="col-md-3 pucture_field">
                <a><%= attachment_image_tag product, :image, :fill, 60, 60, format: 'jpeg',
                                                                  fallback: "no_image.jpg", size:'60x60' %>
                </a>
            </div>
            <div class="col-md-9 name_space">
              <p><%= product.name %></p>
              <p><%= "¥ #{product.price.to_s(:delimited)}" %></p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= link_to product_path(product.id) do %>
          <button class="btn-design">詳細を見る</button>
        <% end %>
      </div>
    </div>
      <hr class="my-4">
    <% end %>
    <%= paginate @products, class: "paginate" %>
  </div>

<% else %>

  <div class="container">
    <h3>商品検索結果</h3><br />
    <% if @products.empty? %>
      <p><%= "#{params[:q][:name_cont]}  に一致する検索結果は見つかりませんでした" %></p><br />
      <p><%= "検索のヒント:" %></p><br />
      <ul>
        <li><%= "キーワードに誤字・脱字がないか確認します。"%></li>
        <li><%= "別のキーワードを試してみます。"%></li>
      </ul>
    <% else %>
      <p><%= "#{@products.total_count}件の検索結果があります" %></p>
    <% end %>
    <div class="sort-area">
      <%= search_form_for @q, url: search_path do |f| %>
        <%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '発売の古い順': 'release_date asc', '発売の新しい順': 'release_date desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
            <i class="fas fa-search"></i>
        <% end %>
        <i>Sort</i>
       <% end %>
     </div>
    <hr class="my-4">
    <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <div class="row">
            <div class="col-md-3 pucture_field">
                <a><%= attachment_image_tag product, :image, :fill, 60, 60, format: 'jpeg',
                                                                  fallback: "no_image.jpg", size:'60x60' %>
                </a>
            </div>
            <div class="col-md-9 name_space">
              <p><%= product.name %></p>
              <p><%= "¥ #{product.price.to_s(:delimited)}" %></p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
      <%= link_to "商品詳細を見る", product_path(product.id), class: 'btn btn-primary' %>
      </div>
    </div>
      <hr class="my-4">
    <% end %>
    <%= paginate @products, class: "paginate" %>
  </div>
<% end %>
