<!--- 商品情報 -->
<div class = "back-color">
  <div class="container">
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
          <img src="https://www.pakutaso.com/shared/img/thumb/  00_PP59_PP_TP_V.jpg" width="350" height="350">
        </div>
        <div class="col-sm-6">
          <div class = "row">
            <div class = "col-sm-6">
              <div class = "product_name">
                <h2><%= @product.name %></h2>
                </div>
            </div>
            <div class="col-md-4">
              <div class = "product_status">
                <% if !@current_stock_array.empty? || @product.status   == 1 %>
                  <p class="btn-border">販売中</p>
                <% else %>
                  <p class="btn-border">販売停止</p>
                <% end %>
              </div>
            </div>
          </div>
          <div class = "product_artist">
            <p><%= "アーティスト名: #{@product.artist.name}" %></p>
          </div>
          <ul class="cp_tag01">
            <div class = "product_categorie">
              <li><a href="#"><%= "#{@product.categorie.name}" %></a></ li>
            </div>
            <div class = "product_price">
              <p class="price"><%= "¥ #{@product.price.to_s(:delimited) } 税込" %></p>
            </div>
          </ul>
        </div>
        <hr class="my-4">
      <div class="icon-field">
        <%= form_for @cart_item, url: product_cart_items_path(@product)  do |f| %>
          <% if !@current_stock_array.empty? %>
            <div class = "row">
              <div class = "col-sm-4">
                <div class = "product_quantity">
                  <%= f.label :"数量" %>
                  <%= f.select :quantity, @current_stock_array %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class = "cart_button">
                  <%= f.submit 'カートに入れる', class: "btn btn-block   btn-info" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <!--  非同期通信のためにレンダーでここは部分テンプレート追加します。詳細 はfavorites/_favorite.html.erbを参照 -->
        <div class = "product_favorite">
          <%= render "favorites/favorite", product: @product %>
        </div>
      </div>
    </div>
  </div>
  
    <div class="container">
      <hr class="my-4">
      <div class="product-release">
        <h4>商品の情報</h4>
      </div>
      <div class = "release_info">
        <p><%= "発売日  #{@product.release_date}" %></p>
        <p><%= "レーベル名: #{@product.company.name}" %></p>
      </div>
      <hr class="my-4">
      <div class="product-description">
        <h4>商品説明</h4>
      </div>
      <div class = "product_explain">
        <p><%= @product.description %></p>
      </div>
      <hr class="my-3">
    </div>
    <div class="container">
      <div class = "disc_info">
        <h4><%= "構成数:#{@product.discs.size}枚組" %></h4><br>
        <div class = "product_song">
          <p>曲名</p>
        </div>
        <div class="disc-info">
          <div class="disc1">
            <% @discs.each do |disc| %>
              <p><%= "Disc#{disc.sequence}" %></p>
                <% songs = disc.songs.all.order(sequence: 'ASC') %>
                <div class = "song_name">
                  <% songs.each do |song| %>
                    <p><%= "#{song.sequence}.#{song.name}" %></p>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    <hr class="my-4">
    </div>
  
    <!--- レビュー一覧 -->
    <div class="container">
      <h2>レビュー一覧</h2>
      <div class="review">
        <% @reviews.each do |review| %>
          <div class = myreview_star>
            <div id="star-rate-<%= review.id %>"></div>
            <script>
              $('#star-rate-<%= review.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= review.rating %>,
              });
            </script>
            </div>
          <div class = "myreview_title">
          <h5 class = "preview_font"><%= review.title %></h5>
        </div>
        <div class = "myreview_column">
          <div class = "myreview_time">
            <h5 class = "preview_font"><%= review.created_at.strftime(' %Y/%m/%d') %></h5>
          </div>
          <div class = "myreview_product">
            <h5 class = "preview_font"><%= review.product.name %></h5>
          </div>
        </div>
        <div class = "myreview_body">
          <h5 class = "preview_font"><%= review.body %></h5>
        </div>
      <% end %>
      <div class = "text-center">
        <%= paginate @reviews, class: "paginate" %>
      </div>
    </div>
    <hr class="my-4">
    <!--- レビュー投稿 -->
    <h2 class = "review_forms">レビュー投稿</h2>
    <div class="container">
      <%= form_for [@product, @review] do |f| %>
        <%= render 'share/error_messages', object: f.object %>
          <!-- ここから星評価つけるための処理 -->
          <div class="form-group row" id="star">
            <div class = "review_rate">
              <%= f.label :rating,'評価 ', class:'col-sm-2  col-form-label' %>
            </div>
            <%= f.hidden_field :rating, id: :review_star %>
          </div>
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[rating]',
          half: true,
        });
        </script>
        <!-- ここまでが星評価つけるための処理 -->
        <div class = "review_form1">
          <h4 class = "review_title">タイトル</h4>
          <div class = "review_field">
            <%= f.text_field :title, size:"100x5" %>
          </div>
        </div>
        <div class = "review_form2">
          <div class="row">
            <div class="col-sm-1">
              <h4 class = "review_title2">本文</h4>
            </div>
          <div class="col-sm-4">
            <div class = "review_body">
              <%= f.text_area :body, size:"100x5" %>
            </div>
          </div>
        </div>
        <div class = "review_submit">
          <%= f.submit '投稿する' %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>

