<!DOCTYPE html>
<html>
  <head>
    <title>Shararan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="wrap">
              <!-- header -->
              <%= render 'share/header' %>

              <div class="flash-field">
              </div>

                <%= yield %>
              <!-- footer -->
              <div class="footer">
              <%= render 'share/footer' %>
              </div>

             <!-- Flash メッセージ -->
              <%= render 'layouts/flash' %>
      </div>
  </body>
</html>
